<div class="row">
    <div class="col-12">
        <div class="card card-panel hoverable z-depth-4" style="margin-botton: 40px">
        <div class="card-content blue-grey-text darken-4-text">
            <a href="{{this.link}}" target="_blank"><span class="card-title">{{this.title}}</span></a>
            <p style="font-weight: 500">{{this.summary}}</p>
        </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/public/js/app.js"></script>